
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

section{
  width: 100%;
}

.page-footer{
  padding: 0px;
} 

.flecha{
  text-align: center;
}

h2{
  max-width: 40rem;
}

small{
  font-size: 16px;
  color: black;
  font-weight: 600;
}

.miVerde{
  background-color: #64a19d;
}

.sombraAqui {
  -webkit-filter: drop-shadow(5px 5px 5px #222 );
  filter: drop-shadow(5px 5px 5px #222);
}

.IMC{
  padding: 30px
}


/* INICIO */

.introFondo{
  background-image: url(https://img.huffingtonpost.com/asset/58b7e08d1a00003400f41275.jpeg?cache=J7IxmNvgTj&ops=1778_1000);
  background-repeat: no-repeat;
  background-size: 120rem;
  height: 90vh;
}

.indexSection{
  padding-top: 5rem;
}


/* MI DIETA */

.miDieta{
    background-image: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.plato{
  max-width: 30rem;
  min-height: 30rem;
  position: relative;
}

.dropPlato{
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
  background-color:#64a19d;

}

.rectangulo{
  width: 20rem;
  height: 11rem;
  margin-top: 20px;
  color: white;
  border: 2px solid white;
  background-color: rgba(95, 95, 95, 0.575);
}

/* fin mi dieta */


/* CONTACTO */
.contacto{
    background-image: url(https://wallpaperaccess.com/full/1737971.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
/* Fin Contacto */


/* SOCIAL MEDIA ICONS */

.fa:hover {
    opacity: 0.7;
}

.svg-inline--fa.fa-w-10{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.svg-inline--fa.fa-w-16{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.svg-inline--fa.fa-w-14{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
/* fin social media icons */

