
*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.h1 .h2 .h3 .h4{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: large;
}
/* body{
} */
main{
  width: 100%;
}

.page-footer{
  padding: 0px;
} 

.flecha{
  text-align: center;

}
/* INICIO */

.introFondo{
  background-image: url(https://img.huffingtonpost.com/asset/58b7e08d1a00003400f41275.jpeg?cache=J7IxmNvgTj&ops=1778_1000);
  background-repeat: no-repeat;
  background-size: 120rem;
  height: 90vh;
}

.indexSection{
  padding-top: 5rem;
}

.IMC{
  padding: 30px
}

/* MI DIETA */
.miDieta{
    background-image: url(https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.plato{
  max-width: 30rem;
  min-height: 30rem;
  position: relative;
}

.dropPlato{
  border-radius: 100%;
  width: 20rem;
  height: 20rem;
  background-color:rgb(95, 95, 95);

}

.rectangulo{
  width: 20rem;
  height: 15rem;
  margin-top: 20px;
  color: white;
  border: 2px solid white;
  background-color:#64a19d98;
}


/* fin mi dieta */


/* CONTACTO */
.contacto{
    background-image: url(https://wallpaperaccess.com/full/1737971.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* MAPA */
.map-container-5{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-5 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


/* Fin Contacto */

h2{
  max-width: 40rem;
}

@media (min-width: 768px){
  .contacto{
    flex-direction: column;
  }
}


/* SOCIAL MEDIA ICONS */


.fa:hover {
    opacity: 0.7;
}

.svg-inline--fa.fa-w-10{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.svg-inline--fa.fa-w-16{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}

.svg-inline--fa.fa-w-14{
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
/* fin social media icons */

.bs-example{
  margin: 20px;
}

.miVerde{
  background-color: #64a19d;
}
